

<div class="card flex justify-content-center overflow-x-auto mt-7 p-5" id="organizational-chart">
  <p-organizationChart   [value]="data"  selectionMode="single">
    <ng-template let-node pTemplate="person">
        <div class="card">
            <img crossorigin="anonymous" [src]="node.data.image" class="image" />
            <div class="font-bold">{{ node.data.name }}</div>
            <div class="title">{{ node.data.title }}</div>
        </div>
    </ng-template>
</p-organizationChart>

</div>
<button><a href="#" (click)="downloadCanvas($event)"> DOWNLOAD THIS</a></button>

