
:host ::ng-deep .p-organizationchart{

    background-image: url("../assets/background6.png");
    background-size: cover;
}

:host ::ng-deep .p-organizationchart .p-organizationchart-line-down{ 
    
    background: black;
}

:host ::ng-deep .p-organizationchart .p-organizationchart-lines .p-organizationchart-line-right{ 
    border-color: black;

}

:host ::ng-deep .p-organizationchart .p-organizationchart-lines .p-organizationchart-line-left{ 
    border-color: black;
}

:host ::ng-deep .p-organizationchart .p-organizationchart-lines .p-organizationchart-line-top{ 
    border-color: black;
}
 
.title{
    background-color: #98FB98;
}


